<header class="header">
  <ul class="container">
    <li><a href="#">WILLIAM LEE</a></li>
    <li><a href="#">BASED IN TAIWAN</a></li>
    <li><a href="#">CURRENTLY FRONT END<br> ENGINEER AT HEXSCHOOL</a></li>
    <li><a href="#contact">CONTACT ME</a></li>
  </ul>
</header>