<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner-section">
      <div class="container">
        <img class="banner-img mr-24" src="../assets/images/people.png" alt="william">
        <div class="content">
          <h2>Hi<br>I’m a front-end<br>developer</h2>
          <div class="title-group">
            <h1>William</h1>
            <a class="contact-link" href="#contact-section">
              <span class="slink-text">CONTACT ME</span>
              <span class="material-icons-outlined">north_east</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
